body {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hero {
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

.hero1 {
    text-align: center;
    color: blue;
    height: 100px;
    overflow: scroll;
}

#hero2 {
    text-align: center;
    
}

.hero3 {
    background-image: linear-gradient(green, blue, yellow, pink, 
    whitesmoke);
    color: black; 
    border-radius: 5px; 
    width: 500px;
    float: right;
    margin-bottom: 100px;
}

#hero4 {
    background-color: bisque;
    border-radius: 5px;
    wi
    
}

a {
    text-decoration: none;
    padding-inline: 5px;
    font-weight: bolder;
    padding: 7px;
    color:;
}

a:hover {
    color: darkred;
}

a.active {
    background-color: green;
    color: whitesmoke;
}

aside {
    position: ;
}



input {
    width: 400px;
    padding: 12px 20px;
    margin-right: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
